<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="https://aframe.io/releases/1.3.0/aframe.min.js"></script>
</head>

<template name="Vr">
    <video style="position: absolute" visible="false" id="vid" webkit-playsinline playsinline loop="true">
        <source src="360.mp4" type="video/mp4">
    </video>
    
    <a-scene vr-mode-ui="enabled: true">
        <a-videosphere play-on-window-click="target: #vid" src="#vid"></a-videosphere>
    </a-scene>

</template>
