<template name="Home">
	<div class="home">
		{{#if currentUser}}
			<div class="main">
				<div class="innerMain">
					{{> ActiveLectureList}}
					{{> CourseList}}
				</div>
			</div>
		{{else}}
			<div class="parallax-container valign-wrapper">
				<h1>VR University</h1>
				<div class="parallax"><img src="{{background_image}}"></div>
			</div>
			<div class="main">
				<div class="innerMain">
					<div class="welcome">
						<p><b>Technology evolves quickly; learning never ends.</b>  These words are why we're committed to integrating VR technology and education; to find new ways to collaborate, visualize, and succeed. VR offers an immersive (virtual) hands-on experience in an environment built for learning. Join us as we embark on a journey to the future of tech training with TBI's VR University.</p>
					</div>
				</div>
			</div>
		{{/if}}
	</div>
</template>
